@model Faculdade.Models.Matricula

@{
    ViewBag.Title = "Detalhar";
}

<h2 style="color:#CD5C5C";>Detalhar</h2>

<div>
    <h4 style="color:#CD5C5C";>Matrícula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aluno.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Curso.Descricao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Curso.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataMatricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataMatricula)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.MatriculaID }) |
    @Html.ActionLink("Volte para a lista", "Index")
</p>
