@model IEnumerable<Faculdade.Models.Matricula>

@{
    ViewBag.Title = "Matrículas";
}

<h2 style="color:#CD5C5C";>Matrículas</h2>

<p>
    @Html.ActionLink("Fazer Matrícula", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th style="color:#CD5C5C";>
            @Html.DisplayNameFor(model => model.Aluno.Nome)
        </th>
        <th style="color:#CD5C5C";>
            @Html.DisplayNameFor(model => model.Aluno.Sobrenome)
        </th>
        <th style="color:#CD5C5C";>
            @Html.DisplayNameFor(model => model.Curso.Descricao)
        </th>
        <th style="color:#CD5C5C";>
            @Html.DisplayNameFor(model => model.DataMatricula)
        </th>
        <th style="color:#CD5C5C";></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Aluno.Sobrenome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Curso.Descricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataMatricula)
        </td>
        <td style="color:#CD5C5C";>
            @Html.ActionLink("Editar", "Edit", new { id=item.MatriculaID }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.MatriculaID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.MatriculaID })
        </td>
    </tr>
}

</table>
