@model IEnumerable<Faculdade.Models.Curso>

@{
    ViewBag.Title = "Cursos";
}

<h2>Cursos</h2>

<p>
    @Html.ActionLink("Adicionar Curso", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CursoID }) |
            @Html.ActionLink("Detalhar", "Details", new { id=item.CursoID }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.CursoID })
        </td>
    </tr>
}

</table>
